@{
    ViewData["Title"] = "Delivery";
}

<main class="mainContent"> <div class="wrap">
	
	<h1 class="header">Shipping and payment</h1>
	<h3 class="h3_custom">Delivery</h3>
	<div class="delivery">
		<div class="delivery__wrap">
			<div class="delivery__textBox">
				<div class="delivery__textBox__title"> <span>How to claim my prize?</span> </div>
				<p> To receive a prize in the History section. Opposite the winning draw, click order. </p>
			</div>
			<div class="delivery__textBox">
				<div class="delivery__textBox__title"> <span>How much does shipping cost ?</span> </div>
				<p> Delivery is free, because it is already taken into account in the cost of the prize. </p>
			</div>
			<div class="delivery__textBox">
				<div class="delivery__textBox__title"> <span>Can I pick up the goods myself ?</span> </div>
				<p> No, we do not have pickup points. </p>
			</div>
			<h3 class="h3_custom">Payment</h3>
			<div class="delivery__textBox">
				<div class="delivery__textBox__title"> <span>How to replenish the balance ?</span> </div>
				<p> To replenish the balance, you must click on the replenishment button in your profile. </p>
			</div>
			<div class="delivery__textBox">
				<div class="delivery__textBox__title"> <span>How quickly funds deposited to the site come ?</span> </div>
				<p> Funds are usually credited within five minutes. </p>
			</div>
			<div class="delivery__textBox">
				<div class="delivery__textBox__title"> <span>Can I withdraw money without participating in any draw ?</span> </div>
				<p> Oh sure. But take into account the commission when withdrawing funds.</p>
			</div>
		</div>
	</div>
</div>
	</main>