@{
    ViewData["Title"] = "FAQ";
}

<main class="mainContent"> <div class="wrap">
    <h1 class="header">Help</h1>
    <h3>Frequently asked Questions</h3>
    <div class="delivery">
        <div class="delivery__wrap">
            <div class="delivery__textBox">
                <div class="delivery__textBox__title"> <span>Can I buy multiple tickets in one draw ?</span> </div>
                <p> Oh sure. This way you increase your chances of winning. </p>
            </div>
            <div class="delivery__textBox">
                <div class="delivery__textBox__title"> <span>Where can I see the results of the draws in which I participated ?</span> </div>
                <p> You need to go to your profile tab in the section History. </p>
            </div>
            <div class="delivery__textBox">
                <div class="delivery__textBox__title"> <span>How to get a prize ?</span> </div>
                <p> To receive a prize in the History section. Opposite the winning draw, click order. </p>
            </div>
            <h3>Opening boxes</h3>
            <div class="delivery__textBox">
                <div class="delivery__textBox__title"> <span>How to exchange your prize for money ?</span> </div>
                <p> To receive money in exchange for a prize, in the History section, click sell. </p>
            </div>
            <div class="delivery__textBox">
                <div class="delivery__textBox__title"> <span>How long does the sale take ?</span> </div>
                <p> The sale is instant - you sell the prize to us. </p>
            </div>
            <div class="delivery__textBox">
                <div class="delivery__textBox__title"> <span>How to participate in the draw?</span> </div>
                <ol>
                    <li>Register on the site.</li>
                    <li>Replenish the balance with the amount necessary to participate in the proposed draw.</li>
                    <li>Go to the draw page and buy a ticket.</li>
                    <li>The draw will start automatically after all tickets have been purchased.</li>
                    <li>If you win in the History section, you can always both order a product and sell it.</li>
                </ol>
            </div>
            <div class="delivery__textBox">
                <div class="delivery__textBox__title"> <span>How is the winner determined ?</span> </div>
                <p>The winner is determined randomly.</p>
            </div>
            <div class="delivery__textBox">
                <div class="delivery__textBox__title"> <span>What should I do if I received a defective item ?</span> </div>
                <p>To resolve this issue, you will need to contact our administrators. If the product really came to you with a defect, we will refund the cost of the product or send a new one. In order for us to have no doubts that the goods arrived to you with a defect, we recommend filming the unpacking on video.</p>
            </div>
            <div class="delivery__textBox">
                <div class="delivery__textBox__title"> <span>How long does delivery take?</span> </div>
                <p>It all depends on the postal operator and the region in which you are located. As a rule, delivery takes from 3 to 15 days.</p>
            </div>
            <div class="delivery__textBox">
                <div class="delivery__textBox__title"> <span>Where can I see the characteristics of the prize participating in the draw ?</span> </div>
                <p> You can see the characteristics of the prize in the raffle tab. </p>
            </div>
        </div>
    </div>
</div>
    </main>