@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="header__account">
        <div class="header__account__profile">
            @if (Context.Session.GetString("UserImage") != null)
            {
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="data:image;base64,@Context.Session.GetString("UserImage")" alt="" class="header__account__profile__avatar"></a>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="~/images/avatar.png" alt="" class="header__account__profile__avatar"></a>
            }

        </div>
        <div class="header__accountSettings">
            <div class="header__accountSettings__myProfileLink"> <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span>My Profile</span></a> </div>
            <div class="header__accountSettings__money">
                <span class="userBalance">@Context.Request.Cookies["Balance"]</span> <span class="rouble"></span>
                <div id="modalItemTake" class="icon-minus"> </div>
                <div id="modalItemAdd" class="icon-plus"></div>
            </div>
            @*<div class="header__accountSettings__logout"> <a class="header__accountSettings__logout_title" href="/logout"><span>Выход</span></a> </div>*@
            <form class="header__accountSettings__logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="header__accountSettings__logout_title"><span>Logout</span></button>
            </form>
        </div>
    </div>
}
else
{
    <div class="header_login">
        <ul class="navbar-nav">
            <li>
                <a class="defaultButton" asp-area="Identity" asp-page="/Account/Register">
                    <span>Register</span>
                </a>
            </li>
            <li>
                <a class="defaultButton" asp-area="Identity" asp-page="/Account/Login">
                    <span>Login</span>
                </a>
            </li>
        </ul>
    </div>
}

