@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@*<ul class="navbar-nav">*@
@if (SignInManager.IsSignedIn(User))
{
    <div class="header__account">
        <div class="header__account__profile">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="~/images/avatar.png" alt="" class="header__account__profile__avatar"></a>
        </div>
        <div class="header__accountSettings">
            <div class="header__accountSettings__myProfileLink"> <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span>My Profile</span></a> </div>
            <div class="header__accountSettings__money">
                <span class="userBalance">0</span> <span class="rouble"></span>
                <div class="icon-plus" data-toggle="modal" data-target="#modalPay"> </div>
            </div>
            @*<div class="header__accountSettings__logout"> <a class="header__accountSettings__logout_title" href="/logout"><span>Выход</span></a> </div>*@
            <form class="header__accountSettings__logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="header__accountSettings__logout_title"><span>Logout</span></button>
            </form>
        </div>
    </div>

    @*<div class="header__accountSettings__logout"
        <a class="header__accountSettings__logout_title" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <span>Logout</span>
        </a>*@

    @*<li class="nav_item">
        Balance:
        <div class="dropdown">
        <a class="dropbtn" ><span>@User.Identity?.Name</span></a>
        <div class="dropdown-content">
        <a asp-area="" asp-controller="Home" asp-action="Index" title="Manage">Profile</a>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
        </div>
        </div>
        </li>

        <li class="nav_item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="btn"><span>Logout</span></button>
        </form>
        </li>*@
}
else
{
    <div class="header_login">
        <ul class="navbar-nav">
            <li>
                <a class="defaultButton" asp-area="Identity" asp-page="/Account/Register">
                    <span>Register</span>
                </a>
            </li>
            <li>
                <a class="defaultButton" asp-area="Identity" asp-page="/Account/Login">
                    <span>Login</span>
                </a>
            </li>
        </ul>

        @*<ul class="navbar-nav">
            <li class="nav_item">
            <a class="" asp-area="Identity" asp-page="/Account/Register"><span>Register</span></a>
            </li>
            <li class="nav_item">
            <a class="" asp-area="Identity" asp-page="/Account/Login"><span>Login</span></a>
            </li>
            </ul>*@
    </div>
}
@*</ul>*@

