@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="header_login">
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole("Admin"))
            {
                <li class="nav_item">
                    <a asp-area="" asp-controller="Lots" asp-action="Create">Add Lot</a>
                </li>
            }
            <li class="nav_item">
                Balance:
                <div class="dropdown">
                    <a class="dropbtn" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span>@User.Identity?.Name</span></a>
                    <div class="dropdown-content">
                        <a href="#">Профиль</a>
                        <a href="#">История</a>
                    </div>
                </div>
            </li>

            <li class="nav_item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link"><span>Logout</span></button>
                </form>
            </li>
        }
        else
        {
            <li class="nav_item">
                <a class="" asp-area="Identity" asp-page="/Account/Register"><span>Register</span></a>
            </li>
            <li class="nav_item">
                <a class="" asp-area="Identity" asp-page="/Account/Login"><span>Login</span></a>
            </li>
        }
    </ul>
</div>
