@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    font-size: 14px;
    background-color: #212121;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #212121;
    color: #fff;
}

header {
    background-color: #212121;
}

.header__logoImage {
    width: 120px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
    margin-top: 20px;
    display: block;
}

nav {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    nav .nav_item {
        padding: 10px 8px;
        border-radius: 20px;
        margin-top: 12px;
        border: 1px solid transparent;
        -webkit-transition: all .3s;
        transition: all .3s;
        text-decoration: none;
        line-height: 30px;
    }

a {
    color: #f5bd35;
    text-decoration: none;
}



    nav .nav_item_active {
        border: 1px solid #3e3f48;
        background-color: #161720;
    }

nav .nav_item span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

nav .nav_item:hover span, nav .nav_item_active span {
    color: #f8bc40;
}

span {
    font-family: GoogleRoboto Condensed,sans-serif;
    font-weight: 500;
}

.header_login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrap {
    width: 100%;
}

.form-label {
    color: black;
}

.nav-link {
    background-color: #f5bd35;
}

/* Кнопка выпадающего списка */
.dropbtn:hover {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Ссылки внутри выпадающего списка */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Изменение цвета выпадающих ссылок при наведении курсора */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}